{if count($data)}
    <p>Zažádali jste o vygenerování nového hesla
    <p>Tahle možnost je aktivní po dobu 24 hodin od jejího vygenerování</p>
    <p>
    <p>Pro přesměrování na změnu hesla klikněte na link níže.</p>
    <a href="{plink //:User:User:revokePassword, token=>$data['token']}">
        {plink //:User:User:revokePassword, token=>$data['token']}
    </a>
    </p>
{/if}