{if count($data)}
    <p>Zažádali jste o vygenerování nového hesla. Vaše nové heslo je :</p>
    <p><strong>{$data['new_password']}</strong></p>
    <p>Tohle heslo je aktivní po dobu 12 hodin od jeho vygenerování</p>
    <p>
        <a href="{plink //:User:User:login}">
            Pro přesměrování na přihlašovací obrazovku klikněte zde.
        </a>
    </p>
{/if}