{extends $adminLayout}
{block content}


<div id="frame">
    {include $aclSideBarMenu}
    <div class="content fr">

        <h3>Oprávnění <a href="{plink Privileges:detail}" class="btn addBtn fr">přidat</a></h3>
        <div class="clear"></div>

        <ul class="dataList threeRows">
        {foreach $privileges as $privilege}
            <li>
                {$privilege->name}
                <span onclick="delete_withAsk_ajax({link removePrivileges!}, {$privilege->id}); return false;" class="fr btn deleteBtn">Smazat</span>
                <a href="{plink //Privileges:detail, $privilege->id}" class="btn editBtn fr">Upravit</a>
            {ifset $privilege->comment}{$privilege->comment}{/ifset}
            </li>
        {/foreach}
        </ul>

    </div>
    <div class="clear"></div>
</div>

