{**
 * GUI for Acl
 *
 * @copyright  Copyright (c) 2012 Tomas Marcanik, www.TomasMarcanik.cz
 * @package    GUI for Acl
 *
 * @param string   $basePath web base path
 * @param string   $user users methods (if authenticated)
 * @param array    $flashes  flash messages
 *}
{block content}
<h1>{block #title}Edit privilege{/block}</h1>

{widget addEdit}
