{extends $adminLayout}
{block content}



<div id="frame">
    {include $aclSideBarMenu}
    <div class="content fr">

        <h3>Detail role</h3>

        {form addEdit, class=>'mt25px'}
            <table class="editation wAuto rolesDetail">
                <tr>
                    <th>{label name, class=>'w80px' /}</th>
                    <td>{input name}</td>
                </tr>
                <tr>
                    <th>{label key_name, class=>'w80px' /}</th>
                    <td>{input key_name}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        {if count($dataTreeRole)}
                            <div class="aclTree mt25px">
                                {var $first = TRUE}
                                {block #roleTree}
                                    <ul>
                                        {if $first}
                                            <input type="radio" name="role_id" id="role_id_0" value="0" {if $selectedParent == 0}checked{/if}>
                                            <label for="role_id_0">Hlavní</label>
                                        {/if}
                                        {foreach $dataTreeRole as $item}
                                            <li>
                                                <div>
                                                    <input type="radio" name="role_id" id="role_id_{$item['id']}" value="{$item['id']}" {if $selectedParent == $item['id']}checked{/if}>
                                                    <label for="role_id_{$item['id']}">{$item['name']}</label>
                                                </div>
                                                {if count($item['data'])}
                                                    {include #roleTree, dataTreeRole => $item['data'], 'first' => FALSE}
                                                {/if}
                                            </li>
                                        {/foreach}
                                    </ul>
                                {/block}
                            </div>
                        {/if}
                    </td>
                </tr>
                <tr>
                    <th colspan="2">{label comment /}</th>
                </tr>
                <tr>
                    <td colspan="2">{input comment, class=>'w320px'}</td>
                </tr>
            </table>

        <div class="editationPanel">
			<a href="{plink //Roles:}" title="Uživatelé">Zpět na výpis rolí</a>
        {if $isEditRole}
            {input edit}
            {input edit_back}
        {else}
            {input save}
            {input save_back}
        {/if}
        </div>

        {/form}

    </div>
    <div class="clear"></div>
</div>
