{extends $adminLayout}
{block content}


<div id="frame">
	{include $aclSideBarMenu}
	<div class="content fr">

		<h3>Uživatel</h3>

		{form userForm}

		<div class="errors centering" n:if="$form->hasErrors()">
			<span n:foreach="$form->errors as $error">{$error}</span>
		</div>
		<table>
			<tr>
				{*<td>{label username /}</td><td>{input username}</td>*}
				<td>{label email /}</td><td>{input email}</td>
			</tr>
			<tr>
				<td>{label name /}</td><td>{input name}</td>
				<td>{label surname /}</td><td>{input surname}</td>
			</tr>

			<tr>
				<td>{label phone /}</td><td>{input phone}</td><td colspan="2"></td>
			</tr>
		</table>

		{if count($dataTreeRole)}
		<div class="aclTree">
			{var $first = TRUE}
			{block #roleTree}
			<ul>
				{foreach $dataTreeRole as $item}
				<li>
					<div>
					<input type="checkbox" name="role_id[]" id="role_id_{$item['id']}" value="{$item['id']}">
					<label for="role_id_{$item['id']}">{$item['name']}</label>
					</div>

					{if count($item['data'])}
					{include #roleTree, dataTreeRole => $item['data'], 'first' => FALSE}
					{/if}
				</li>
				{/foreach}
			</ul>
			{/block}
		</div>
		{/if}

		<div class="editationPanel">
			<a href="{plink //Users:}" title="Uživatelé">Zpět na výpis uživatelů</a>
		{if $isEditUser}
		{input edit}
		{else}
		{input add}
		{/if}
		</div>

		{/form}
	</div>
	<div class="clear"></div>
</div>





<script type="text/javascript">
    $(function()
    {
       checkBox_setActive('#role_id', ({implode(',', $roles)}));
    });
</script>