<div class="sideBar aclMenu fl">
    <ul>
        <li class="{ifCurrent Users:*}active{/ifCurrent} users"><a href="{plink //Users:default}">Uživatelé</a></li>
        <li class="{ifCurrent Permission:*}active{/ifCurrent} accesses"><a href="{plink //Permission:}">Přístupy</a></li>
        <li class="{ifCurrent Roles:*}active{/ifCurrent} roles"><a href="{plink //Roles:}">Role</a></li>
        <li class="{ifCurrent Resources:*}active{/ifCurrent} sources"><a href="{plink //Resources:}">Zdroje</a></li>
        <li class="{ifCurrent Privileges:*}active{/ifCurrent} privilages"><a href="{plink //Privileges:}">Oprávnění</a></li>
    </ul>
</div>